@(form: Form[WidgetForm.Data], postUrl: Call, obpApiHostname: String)(implicit request: MessagesRequestHeader)

  @main("Get a token", obpApiHostname) {

    @* Global errors are not tied to any particular form field *@
    @if(form.hasErrors) {
      @form.errors.map { error: FormError =>
        <div>
          @error.key: @error.message
        </div>
      }
    }
  <div id="directLogin_token">

    <div style="color: white">
    @* Flash shows updates to a page *@
      @request.flash.data.map{ case (name, value) =>
        @if(name == "token") {
          <h2>Your token is ready:</h2>
          <div>Authorization: DirectLogin token="@value"</div>
        } else {
          <h2>Request token fail, fail message:</h2>
          <div>@value</div>
        }
      }
    </div>
    <div style="color: white">
      <h1>Request DirectLogin Token</h1>
    </div>
    <div style="margin-left: 300px;">

      @helper.form(postUrl){
        @helper.CSRF.formField
        <div class="row">
          <div class="form-group">
            <label style="color: white">Username</label>
            <input type="text" name="username">
          </div>
          <div class="form-group">
            <label style="color: white">Password</label>
            <input type="password" name="password">
          </div>
          <div class="form-group">
            <label style="color: white">Consumer_key</label>
            <input type="text" name="consumer_key">
          </div>
          <input type="submit" value="Generate token">
        </div>
      }
    </div>
  </div>
}
